html, body {
	color-scheme: dark;
	margin: 0;
}

img {
	width: 100%;
}

#main-body {
	display: grid;
	height: 100vh;
	grid: 6rem auto 2rem / 15rem auto;
}

#header {
	grid-area: 1 / 1 / span 1 / span 2;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	height: 3rem;
	background-color: dimgray;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	gap: 0.5rem;
}

/* hide arrows in number input */
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other browsers */
}

.search {
	height: 1.5rem;
	background-color: whitesmoke;
	border: none;
	border-radius: 0.5rem;
	color: black;
}

#min, #max {
	height: 1.5rem;
	width: 2rem;
	background-color: whitesmoke;
	border: none;
	border-radius: 0.5rem;
	color: black;
}

.search-bar button {
	height: 2rem;
	border: black solid 1px;
	border-radius: 0.5rem;
}

#add-poster {
	height: 3rem;
	border: none;
	border-radius: 0.5rem;
	background-color: dimgray;
	padding: 0 1rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

#side-bar {
	grid-area: 2 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: dimgray;
	margin: 2rem;
	border-radius: 1rem;
	height: min-content;
	padding: 1rem;
}

#main {
	grid-area: 2 / 2;
	background: whitesmoke;
	color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.poster {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	gap: 0.5rem;
	border: black solid 1px;
	text-decoration: none;
	color: inherit;
	height: min-content;
}

#footer {
	grid-area: 3 / 1 / span 1 / span 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: dimgray;
	padding: 1rem;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
