:root {
  --color-black: #202020;
  --color-blue: #002695;
  --color-neon: #affbff;
  --color-red: #fa0000;
  --color-white: #ffffff;
}


html,body{
  display: grid;
  grid-template-rows: 3rem 5rem calc(100vh - 11rem) 3rem;
  grid-template-columns: 3rem calc(50vw - 5rem) 4rem calc(50vw - 5rem) 3rem;
  background-color: var(--color-blue);
}

img{
  width: calc(50vw - 5rem);
}

li{
  margin-bottom: 0.5rem;
}

#img-container{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

#price{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  font-size: 50px;
}

#product-title{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px ;
  margin-bottom: 2rem;
  font-size: 50px;
  font-weight: bold;
}

#product-description{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 2rem;
}

#product-description-content{
  white-space: pre-wrap;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#search-bar {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  border-radius: 50px;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#search-bar > * {
  border: none;
  border-radius: 50px;
  height: 2rem;
  background: none;
}

#search-bar input{
  width: 100%;
}

#back-div{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

#back-a{

  text-decoration: none;
  background-color: var(--color-neon);
  color: var(--color-blue);
  padding: 0.5rem;
  border-radius: 1rem;
}