/* TODO:  Typeface, Buttons */
html,
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-black);
  color: white;
}

/* hide arrows in number input */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  border-radius: 0.5rem;
  background-color: whitesmoke;
  border: none;
  color: black;
  height: 1.5rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
}

a {
  color: inherit;
}

:root {
  --color-black: #00040d;
  --color-dark-blue: #3850ba;
  --color-light-blue: #adddf5;
  --color-white: #ffffff;
}

/* ============================================================= */

#main-body {
  display: grid;
  grid: 4rem auto 2rem / 15rem auto;
}

#header {
  grid-area: 1 / 1 / span 1 / span 2;
}

#header > div {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 3rem;
}

#filter {
  padding: 0 1rem;
}

#side-bar {
  grid-area: 2 / 1;
  border-radius: 0.5rem;
  height: min-content;
  margin: 2rem;
}

#side-bar > a {
  color: white;
}

#main {
  grid-area: 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--color-white);
  color: black;
}

#footer {
  grid-area: 3 / 1 / span 1 / span 2;
}

#profile {
  display: inline-block;
  color: white;
}

#profile-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--color-light-blue);
}

#profile-content a {
  display: block;
}

#profile-content a:hover {
  background-color: var(--color-dark-blue);
}

#profile:hover #profile-content {
  display: block;
}

.form-body {
  display: grid;
  grid-template-columns: auto 50rem auto;
}

.main-form {
  grid-area: 1 / 2;
}

.main-form label:first-of-type {
  padding-top: 5rem;
}

.category:hover {
  text-decoration: underline;
}

.snackbar {
  visibility: hidden;
  min-width: 15rem;
  position: fixed;
  z-index: 1;
  color: #333;
  background-color: #fff;
  justify-self: center;
  text-align: center;
  top: 5rem;
}

.snackbar.show {
  visibility: visible;
  /* INFO: Some animation, can be changed later */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5rem;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 5rem;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

/* ============================================================= */

.bg-dark-blue {
  background-color: var(--color-dark-blue);
}

.bg-light-blue {
  background-color: var(--color-light-blue);
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.width-2 {
  width: 2rem;
}

.no-text-decoration {
  text-decoration: none;
}

.flex-column {
  flex-direction: column;
}

.height-full {
  height: 100%;
}

.padding-1 {
  padding: 1rem;
}

.padding-0-2 {
  padding: 0 2rem;
}

.border-right {
  border-right: 1px solid var(--color-light-blue);
}

.border-top {
  border-top: 1px solid var(--color-light-blue);
}

.gap-half {
  gap: 0.5rem;
}

/* ============================================================= */

/* Login, register, add */
@media (max-width: 800px) {
  .form-body {
    grid-template-columns: 100%;
  }

  .main-form {
    grid-area: 1 / 1;
  }
}

/* index */
/* TODO: Add some way to filter */
@media (max-width: 1000px) {
  #main-body {
    grid: 4rem auto 2rem / auto;
  }

  #header {
    grid-area: 1 / 1;
  }

  #side-bar {
    visibility: hidden;
  }

  #main {
    grid-area: 2 / 1;
  }

  #footer {
    grid-area: 3 / 1;
  }
}

